{%extends "base.html.twig"%}
{% block body %}
<h1>HOME</h1>

        <div>
            <img src="images/montagne.jpg" alt="Photo de montagne" />
            <h3>TITRE</h3>
            <p>Auteur</p>
            <p>Date</p>
        </div>
{% endblock %}