{%extends "base.html.twig"%}

{% block title %}
    {{ parent() }}
    - ajout profil
{% endblock %}

{% block body %}
<h1>AJOUT PROFIL</h1>
    {{form_start(addProfils,{'attr':{'action':path('valid')}})}}
    {{form_end(addProfils)}}
{% endblock %}