{%extends "base.html.twig"%}

{% block title %}
    {{ parent() }}
    - ajout article
{% endblock %}

{% block body %}
<h1>AJOUT ARTICLE</h1>

    {{form_start(formAddNews,{'attr':{'action':path('valid')}})}}
    {{form_end(formAddNews)}}
{% endblock %}