{%extends "base.html.twig"%}

{% block title %}
    {{ parent() }}

    - modification profils

{% endblock %}

{% block body %}
<h1>MODIF PROFILS</h1>
<div>
    {{form_start(formAddProfils,{'attr':{'action':path('validProfils',{'id':id})}})}}
    {{form_end(formAddProfils)}}
</div>
{% endblock %}
