<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}
            <h1>BLOG HJE</h1>
            
            <nav>
                <ul>
                    <li>News</li>
                    <li>Admin</li>
                    <li>Profil</li>
                    <li>Login</li>
                    <li>Logout</li>
                </ul>
            </nav>
            
        {% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
