.profil{
    text-align: right;
    margin-right: 10px;
    
    .imgprofil { /*mise une taille de base pour l'image de profil et un border pour stylé*/
        width: 30%;
        border: solid $detail1 3px;
    }
}


.modifprofil {/*centrage des boutons*/ 
    text-align: center;
    
    .editprofil { /*mise en forme du bouton*/ 
        color: black;
        padding: 5px;
        border: solid 1px $detail1;
        border-radius:5px;
        text-decoration: none;
    }
    
    .deleteprofil { /*mise en forme du bouton*/ 
        color: black;
        padding: 5px;
        border: solid 1px $detail1;
        border-radius:5px;
        text-decoration: none;
    }

}