.sousmenu { /*remise du padding a 0, mise en place de la hauteur, mise en place de la taille de font, retrait du style de la liste, et couleur du fond*/
    padding: 0;
    margin: 0;
    height: 30%;
    font-size: 1em;
    list-style-type: none;
    overflow: hidden;
    background-color: $detail2;
    
    li { /*mettre les objets cote a cote*/
        display: inline-block; 
        
        a { /* mise en couleur noir du lien, padding pour grossir la barre nav, retrait de la deco de texte*/
            display: block;
            color: black;
            padding: 14px 16px;
            text-decoration: none;
        }
        
        a:hover {
            background-color: $detail1;
        }
        
    }
}

.banniere {
    width: 100%;
    margin-bottom: 0;
}

nav {
   margin: 0;
   padding: 0;
   height: 30%;
   font-size: 1em;

   
   ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: $detail2;
    }
     
    li {
        float: left;
    }
    
    li:last-child {
        float: right;
    }
    
        a {
            display: block;
            color: black;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }
        
        a:hover {
            background-color: $detail1;
        }
        
        .active {
            background-color: $detail1;
        }
        
    form{
        margin: 0;
        padding: 0;
        text-align: right;
        padding-bottom: 10px;
        background-color: $detail2;
        font-size: 1em;
        padding-top: 2%;
        }
        
        #email, #motdepasse {
            width: 100px;
            height: 20px;
            font-size: 1em;
        }
        
        .login {
            width: 200px;
            height: 100px;
        }
   
    }
