.news { /*taille de largeur, centrerage grace au margin auto et marge en bas pour le visuel*/
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
 }
 .soustitre { /*j'aligne les deux textes*/
     display: flex;
     
     .auteur{ /*mise en place d'une marge pour espacer le soustitre*/
         margin-right: 20px;
     }
 }

.titre { /*centrage du titre, ajout de padding mis en place couleur de fond taille de font et retrait de la marge du bas*/
    text-align: center;
    padding: 1em;
    background-color: $detail1;
    font-size: 1.50em;
    margin-bottom: 0;
}

.annonce, .image{ /*pour mettre des espaces*/
    display: inline-block; 
}

div.annonce img { /*mise en taille de l'image a 100% */
    width: 100%;
    margin-bottom: 10px;
}

.displayPc{
    display: block;
}

.displayTablet{
    display: none;
}

.displayPhone{
    display: none;
}

